@import '../../../assets/sass/variables.scss';
@import '../../../assets/sass/mixins.scss';

.preloader{
    background-color: $preloader-background;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    @include animated;
    &-inner{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        margin: -50px 0 0 -50px;
        @include transform(scale(1));
        @include animated;
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-black;
            border-radius: 50%;
            @include transform(scale(1));
        }
    }    
    &__hidden{
        .preloader{
            &-inner{
                @include transform(scale(0));
                &:after{
                    @include transform(scale(0));
                    animation-play-state: paused;
                }
            }
        }
    }
    &__loading{
        opacity: 1;
        visibility: visible;
        .preloader{
            &-inner{                
                &:after{
                    animation: 1s linear infinite pulse;
                    animation-delay: 0.6s;
                }
            }
        }
    }
    &__full{
        background-color: $color-black;
        .preloader{
            &-inner{
                @include transform(scale(25));
                &:after{
                    animation-play-state: paused;
                }
            }
        }
    }
}

@keyframes pulse {
    0% {
        @include transform(scale(1));
    }    
    25% {
        @include transform(scale(1.4));
    }    
    50% {
        @include transform(scale(1));
    }
}