.app-header-content {
  &-scroller {
    display: flex;
    align-items: center;
  }
}

.contacts {
  text-align: left;
  margin: auto;
  width: 100%;
  &-title {
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 40px;
    line-height: 1em;
  }
  &-item {
    margin-bottom: 40px;
    &-label {
      margin-right: 15px;
    }
    &-label,
    &-link {
      display: inline-block;
      vertical-align: middle;
    }
    .link {
      font-size: 44px;
      line-height: 55px;
      span {
        &,
        &:before {
          color: #fff;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
