.logo {
  font-size: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform-origin: 0 50%;
  transform: scale(1) translate(0, -50%);
  transition: all 1s;
  cursor: pointer;
  mix-blend-mode: difference;
  font-family: Montserrat;
  font-weight: 700;
  div {
    color: #fff;
    span {
      display: inline-block;
      overflow: hidden;
      transition: 0.5s;
      width: 50px;
      font-size: 30px;
      line-height: 1em;
      &:first-child {
        width: 102px;
      }
      &:last-child {
        width: 8px;
        // color: transparent;
        position: relative;
      }
    }
  }
  &__loading {
    div {
      span {
        &:last-child {
          animation: bounce 1500ms infinite ease;
        }
      }
    }
  }
  &__minify {
    div {
      span {
        &:first-child {
          width: 20px;
        }
      }
    }
    &:not(.logo__centered):hover {
      div {
        span {
          &:first-child {
            width: 102px;
          }
          &:last-child {
            width: 8px;
          }
        }
      }
    }
  }
  &__centered {
    top: 50%;
    left: 50%;
    transform: scale(2) translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-60%);
  }
  50% {
    transform: translateY(0%);
  }
  60% {
    transform: translateY(-30%);
  }
  64% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
