<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google-site-verification" content="2brRI2ZmEHibfpvCM37Kpw0_cPh5bumaySRrGt2anQU" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
      const APP_CONFIG = JSON.parse(
        '<%= htmlWebpackPlugin.options.APP_CONFIG %>'
      );
    </script>
  </head>

  <body>
    <div id="app"></div>
  </body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-149749840-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-149749840-1');
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyACsL7cqBBqlFQ8Cwfamr09vQEcaZMNCAY&callback=google.loader.callbacks.mapss"></script>
</html>
