@media(max-width: 1000px){
  .hero-label-inner{
    font-size: 100px;
  }
  .hero-line:not(.hero-line__big){
    padding-bottom: 20px;
  }
}

@media(max-width: 820px){
  .hero-left{
    width: 100%;
  }
  .hero-line:not(.hero-line__big){
    padding-bottom: 0px;
    position: relative;
    top: 61px;
  }
}

@media(max-width: 700px){
  .app-body{
    padding: 15px 50px;
  }
}

@media(max-width: 620px){
  .section__hero{
    padding-bottom: 0;
  }
  .app-body{
    padding: 15px 20px;
  }
  .hero-label-inner,
  .hero-line div{
    &,&:first-child{
      font-size: 50px;
      text-align: left;
      letter-spacing: -0.07em;
    }
  }
  .hero-line div:first-child{
    margin-left: 0;
  }
  .hero-line:not(.hero-line__big){
    top: 0;
  }
  .hero-left, .hero-right{
    width: 100%;
  }
}