$app-background: #fff;
$panel-background: #0c0c0c;
$theme-color: #fff;

$color-black: #000;
$color-white: #fff;

$app-color: $color-black;
$preloader-background: $app-background;
$preloader-dot-color: $panel-background;

